body {
  font-family: 'Heebo', sans-serif;
}

.grid-container {
  display: flex;
  flex-direction: row;
}
.card {
  aspect-ratio: 5 / 6;
  width: 43%;
  border: 2px solid #14151D;
  border-radius: 10px;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #060B0D;
  position: relative;
  padding: 10px;
  margin: 20px;
}

.images {
  position: relative;
  width: 100%;
  height: 100%;
}

.card img, .paint-blur canvas {
  aspect-ratio: 6 / 7;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: opacity 500ms ease;
}

.wipe-blur {
  filter: blur(10px);
  mask-image: linear-gradient(to right, transparent var(--blur-start), black var(--blur-end));
}

.radial-blur {
  filter: blur(10px);

  /* mask-image: linear-gradient(to right, transparent var(--blur-start), black var(--blur-end)); */
  mask-image: radial-gradient(circle 150px at var(--box-x) var(--box-y), transparent 50%, black 100%);
}

.no-blur {
  opacity: 0%;
}

.paint-blur canvas {
  z-index: 2;
  position: relative;
  border-radius: 10px;
  transition: opacity 500ms ease;
}

