.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
  margin: 100px;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  aspect-ratio: 4 / 2;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 10px;
  display: flex;
}

.card-content {
  color: white;
  background-color: #060B0D;
  border-radius: inherit;
  display: relative;
  margin: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}