body {
  font-family: 'Heebo', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  width: 600px;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  aspect-ratio: 4 / 2;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 10px;
  display: flex;
}

.card-content {
  color: white;
  background-color: #060B0D;
  border-radius: inherit;
  position: relative;
  margin: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.card::before, .card::after {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card::before {
  background: radial-gradient(200px circle at var(--box-x) var(--box-y), rgba(255, 255, 255, 0.3) 0%, transparent 100%);
  z-index: 1;
} 

.card::after {
  background: radial-gradient(150px circle at var(--box-x) var(--box-y), rgba(255, 255, 255, 0.05) 0%, transparent 100%);
  z-index: 3;
}