.body {
  height: 100vh;    
}

.cards-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 1000px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 10px;
  transition: 300ms ease;

}

.card.center-card {
}

.card:not(.center-card) {
  transform: scale(0.7) translate(-50%, -50%);
}

.card.card:not(.center-card) img {
  filter: brightness(0.7) translate(-50%, -50%);
}
