.body {
  height: 100vh;    
}

.cards-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 10px;
  transition: 300ms ease;

}

.card[data-position="right"] {
  transform: translateX(calc(-50% - 500px)) scale(0.7);
  z-index: 1;
}

.card[data-position="left"] {
  transform: translateX(calc(-50% + 500px)) scale(0.7);
  z-index: 3;  
}

.card[data-position="center"] {
  transform: translateX(-50%)
}


.card.card:not(.center-card) img {
  filter: brightness(0.6);
}
