.body {
  height: 100vh;   
  overflow-x: hidden; 
}

html {
  overflow-x: hidden;
}

.cards-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.cards {
  --gap: clamp(150px, 25vw, 700px);
  --offscreen: calc(var(--gap) * 2.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 10px;
  --drag: 0px;
  --scale: 1;
  transform: translateX(calc(var(--base, -50%) + var(--drag))) translateY(-50%) scale(var(--scale));
  transition: 1000ms cubic-bezier(0.5, 0.35, 0.21, 1);
  user-select: none;
  will-change: transform;
}

.card[data-position="left"] {
  --base: calc(-50% - var(--gap));
  --scale: 0.6;
  z-index: 1;
  filter: brightness(0.3);
}

.card[data-position="right"] {
  --base: calc(-50% + var(--gap));
  --scale: 0.6;
  opacity: 1;
  z-index: 1;  
  filter: brightness(0.3);
}

.card[data-position="center"] {
  --base: -50%;
  --scale: 1;
  z-index: 2;
  opacity: 1;
  filter: brightness(1)
}

.card[data-position="hidden"] {
  --base: calc(50% + var(--offscreen));
  opacity: 0;
}

.control {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eeae36;
  color: black;
  font-size: 17px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  user-select: none;
}

.button-right {
  transform: translateX(calc(-50% - 400px)) translateY(40vh);
}

.button-left {
  transform: translateX(calc(-50% + 420px)) translateY(40vh);
}

.control img {
  height: 30px;
  width: 30px;
}

.left-button {
  transform: translateX(-3px)
}

.right-button {
  transform: translateX(2px);
}