html {
  scrollbar-width: none;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Bangers', sans-serif;
  color: white;
}

.menu-container {
  aspect-ratio: 12 / 8;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid white;
}

.left-page {
  display: grid;
  grid-template-rows: 100px 1fr;
}

.left-page h1 {
  font-size: 75px;
  margin: 10px auto;
}

.left-page img {
  box-sizing: border-box;
  padding: 20px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.right-page {
  border-left: 3px solid white;
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr 2fr 3fr 2fr;
  grid-template-rows: 2fr 2fr 2.5fr 2fr 2fr 0.5fr 2.5fr;
  box-sizing: border-box;
  padding: 10px;
}

.menu-item {
  margin: 10px;
  height: calc(100% - 26px);
  width: calc(100% - 26px);
  border: 3px solid white;
  position: relative;
  white-space: normal;
  display: flex;
}

.menu-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.menu-item h2 {
  position: absolute;
  z-index: 2;
  margin: 0;
  font-size: 40px;
  font-weight: 100;
}

.menu-item.rotated h2 {
  writing-mode: vertical-rl;
  position: absolute;
  top: 5px;
  right: 5px;
}

.menu-item.hidden {
  display: none;
}

.menu-item:nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1;
}
.menu-item:nth-child(2) {
  grid-column: 4;
  grid-row: 1 / span 2;
}
.menu-item:nth-child(3) {
  grid-column: 5;
  grid-row: 1;
}
.menu-item:nth-child(4) {
  grid-column: 1;
  grid-row: 2 / span 2;
}
.menu-item:nth-child(5) {
  grid-column: 2 / span 2;
  grid-row: 2;
}
.menu-item:nth-child(6) {
  grid-column: 2 / span 3;
  grid-row: 3;
}
.menu-item:nth-child(7) {
  grid-column: 1 / span 2;
  grid-row: 4 / span 3;
}
.menu-item:nth-child(8) {
  grid-column: 1 / span 2;
  grid-row: 7;
}
.menu-item:nth-child(9) {
  grid-column: 3;
  grid-row: 4 / span 4;
}
.menu-item:nth-child(10) {
  grid-column: 5;
  grid-row: 2 / span 3;
}
.menu-item:nth-child(11) {
  grid-column: 4;
  grid-row: 4;
}
.menu-item:nth-child(12) {
  grid-column: 4 / span 2;
  grid-row: 5;
}
.menu-item:nth-child(13) {
  grid-column: 4 / span 2;
  grid-row: 6 / span 2;
}