body {
  position: relative;
}

.grids-container {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  padding: 100px 20%
}

.grid-container, .hitbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  width: 100%;
}

.card {
  aspect-ratio: 5 / 6;
  border: 2px solid #14151D;
  border-radius: 10px;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #060B0D;
  transition: scale 500ms ease;
  position: relative;
  width: auto;
  pointer-events: none;
}

.card-wrapper {
  transition: scale 500ms ease;
}

.hitbox {
  aspect-ratio: 5 / 6;
  pointer-events: none;
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 11 / 12;
  object-fit: cover;
}

.card-wrapper:hover {
  scale: 1;
  position: relative;
  z-index: 2;
}

.card-wrapper:hover .card {
  scale: 1.3;
  transform: perspective(1000px) rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
  perspective-origin: center;
  z-index: 4;
}

.card-wrapper:hover img {
  filter: brightness(var(--brightness))
}

.card-wrapper:hover .card.inverted{
  scale: 1.3;
  transform: perspective(500px) rotateX(calc(var(--rotate-x) * -1)) rotateY(calc(var(--rotate-y) * -1))
}

.card h3 {
  text-align: center;
}