.project-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 20px;
  min-height: 700px;
} 

#project-iframe {
  box-sizing: border-box;
  width: 100%;
  min-height: 700px;
  height: 100%;
  border: 2px solid #14151D;
  border-radius: 10px;
}