body {
  height: 100vh;
  width: 100vw;
}

.main-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 85px 85px 1fr;
}

.project-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 20px;
  height: calc(100vh - 100px)
} 

.iframe-container {
  box-sizing: border-box;
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  min-height: 700px;
  margin: 0 20px 20px 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: relative;
}

.project-info {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Google Sans Code', monospace;
  font-weight: 300;
}

.project-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  background-color: #060B0D;
  margin: 0;
}

.seperator {
  margin: auto 0 !important;
}

.project-info * {
  margin: auto 20px;
}

.project-info p {
  max-width: 300px;
}

.project-info a {
  color: white !important;
  text-decoration: underline !important;
}

h1 {
  font-weight: 400;
}

.fullscreen-control {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

