html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scrollbar-width: 0;
}

.text-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
  color: white;
  font-family: monospace;
}

.snow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes snowfall {
  0% {
    transform: translateY(var(--start-y));
    opacity: 100%
  }
  100% {
    transform: translateX(var(--x-movement)) translateY(110vh);
    opacity: 100%;
  }
}

.snowflake {
  opacity: 0%;
  position: absolute;
  top: 0;
  transform: var(--start-y);
  left: var(--offset-x);
  width: var(--snowflake-size);
  height: var(--snowflake-size);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: snowfall var(--animation-length) linear infinite;
}