body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
  color: white;
  font-family: monospace;
}

.snow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes snow {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateX(var(--x-movement)) translateY(110%)
  }
}

.snowflake {
  width: var(--snowflake-size);
  background-color: rgba(255, 255, 255, 0.8);
  animation: snow var(--animation-length) linear infinite;
}