body {
  position: relative;
}

#project-container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#sort-by {
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
}

#sort-by button {
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

#sort-by::before {
  opacity: var(--opacity);
  content: '';
  width: var(--width);
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translateX(var(--x-offset));
  transition: 300ms;
}

#projects {
  column-count: 2;
  column-gap: 20px;
  row-gap: 20px;
  background-color: transparent;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}


.project-content > div {
  color: white;
  min-width: 250px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#border > div {
  background-color: #060B0D;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
}

.project {
  display: inline-block;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: relative;
  max-width: 400px;
  height: fit-content;
}

.project-content {
  background-color: #060B0D;
  margin: 2px;
  z-index: 3;
  padding: 10px;
  border-radius: inherit;
  position: relative;
}

.project-content > img {
  position: relative;
  border-radius: 10px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  z-index: 4;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.projects img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to right,
    #060B0D 0%,
    transparent 35%
  );
  pointer-events: none;
}

.project::before, .project::after {
  content: '';
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.project::before {
  z-index: 1;
  background: radial-gradient(200px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.2) 0%, transparent 100%);
}

.project::after {
  /* z-index: 3;
  background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.02) 0%, transparent 100%) */
}

#description {
  width: 90%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
}

#description * {
  margin: 5px;
}

#description p {
  text-align: left;
}