nav a {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-items: left;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Google Sans Code", monospace;
  font-size: 17px;
  font-weight: 300;
}

nav {
  padding: 10px 0;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  line-height: 0.5;
  margin-left: 10px;
  font-family: "Google Sans Code", monospace;
  font-weight: 400;
}

a:nth-child(1) {
  border: none;
  padding: 0;
}