nav a {
  border-radius: 10px;
  border: 2px solid #14151D;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-items: left;
  width: fit-content;
  margin-right: 10px;
}

nav {
  padding: 10px 0;
  width: 100%;
  border-bottom: 2px solid #14151D;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
