nav a {
  border-radius: 10px;
  border: 2px solid #14151D;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-items: left;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  font-family: "Google Sans Code", monospace;
  font-size: 17px;
  font-weight: 300;
}

nav {
  padding: 10px 0;
  width: 100%;
  border-bottom: 2px solid #14151D;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

nav h1 {
  line-height: 0.5;
  margin-left: 10px;
  font-family: "Google Sans Code" monospace;
  font-weight: 400;
}
